.remoteWorkBlock {
    background-color: #2b2b2b;
    padding: 115px 0 80px 0;
}

.container {
    flex-direction: column;
    justify-content: flex-start;
}

@media screen and (max-width: 372px) {
    .container h2 {
        text-align: center;
    }
}

.button a {
    background: #479fd2;
    border: 1px solid;
    height: 25px;
    width: 90px;

}