.nav {
    width: 300px;
    display: flex;
    justify-content: space-between;
    a {
        color: #d0d0d0;
        font-size: 14px;
        line-height: 45px;
        text-transform: uppercase;
        font-weight: 700;
        text-decoration: none;
        cursor: pointer;
        &:hover {
            text-decoration: none;
            color: #ff724c;
        }
    }
    .active {
        color: #ff724c;
    }
    @media screen and (max-width: 415px){
        display: none;
    }
}

