.mainBlock {
    height: 100vh;
    background-color: #202020;
    .greeting {
        flex: 0 0 50%;
        max-width: 50%;
        @media screen and (max-width: 876px) {
            flex: 100%;
            max-width: 100%;
            text-align: center;
        }
        @media screen and (max-width: 375px) {
            text-align: center;
        }
        .text {
            margin-bottom: 33px;
            span {
                font-size: 24px;
                font-weight: 600;
                color: #d1d1d1;
                line-height: 29px;
                @media screen and (max-width: 876px) {
                    font-size: 26px;
                }
            }
            h1 {
                font-size: 60px;
                line-height: 76px;
                color: #fff;
                margin-top: 0;
                margin-bottom: 0.5rem;
                @media screen and (max-width: 876px) {
                  font-size: 66px;
                }
            }
            h4 {
                font-size: 28px;
                font-weight: 600;
                color: #d1d1d1;
                margin-top: 0;
                margin-bottom: 0.5rem;
                @media screen and (max-width: 876px) {
                  font-size: 28px;
                }
            }
        }
    }
    .photo {
        width: 300px;
        height: 400px;
        background-color: #b9afaf;
        @media screen and (max-width: 876px) {
                display: none;
        }
    }
}
