.socialNetworks {
    display: flex;
    justify-content: space-between;
    position: relative;
    @media screen and (max-width: 876px) {
            justify-content: center;
    }
    .socialNetworkIcons {
        margin: 0;
        padding: 0;
        list-style: none;
        display: block;
        li {
            display: inline-block;
            margin: 0 5px;
            a {
                display: block;
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                transition: all 0.3s ease-in;
                color: #3b5999;
                text-decoration: none;
                outline: none;
                background-size: cover;
                background-position: center;
            }
        }
    }
}
