.project {
    width: 45%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    flex-wrap: wrap;
}

.projectImageContainer {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    margin-bottom: 20px;
}

.description h3 {
    color: white;
}

@media screen and (max-width: 990px) {
    .project {
        width: 80%;
        margin: 20px 0;
    }
}