.projectsBlock {
    min-height: 100vh;
    padding: 115px 0 80px 0;
    background-color: #202020;
    .container {
        flex-direction: column;
        justify-content: flex-start;
        .projects {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            @media screen and (max-width: 990px) {
                    justify-content: center;
            }
        }
    }
}





